

.header{
    width: 100%;
    max-width: 1773px;
    min-height: 83px;
    background-color: #5474FD;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;

    &__list{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 525px;
        min-height: 12px;
        padding: 0;
        margin: 0;
    }
    &__li{
        list-style: none;
    }
.header__nav{
    width: 100%;
    max-width: 525px;
    min-height: 12px;
}
.header__link{
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    position: relative;
    z-index: 1;
}
.header__link::before{
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 130%;
    height: 0;
    background-color: #2B3E85;
    transition: all 0.3s ease-in-out;
    z-index: -1;
} 
.header__link:hover::before{
    height: 140%;
}
#header__burger-menu{
    display: none;
    color: #FFFFFF;
    font-size: 28px;
    text-align: end;
    padding: 0 30px;
}
#header__burger-menu:hover{
    cursor: pointer;
}


@media screen and (max-width:800px){
    .header__list{
        display: none;
    }
    #header__burger-menu{
        display: block;
        
    }
}



}


