


form{
    width:100%;
    max-width: 653px;
    min-height: 63px;
    background-color: #FFFFFF;
    display: flex;
    padding: 2px;
    margin-top: 48px;
}

#search-input{
   width: 100%;
   max-width: 503px;
   border: none;
}
#search-input::placeholder{
    text-align: center;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 2.8px;
    color: #999999;
}
.search-button{
    width: 153px;
    min-height: 63px;
    background-color: #5474FD;
    border:none;
    transition: background-color 0.2s ease-in-out;
}
.search-button:hover{
    cursor: pointer;
    background-color: #2B3E85;
}
.button-text{
    display: inline-block;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 1.4px;
    width: 92px;
    min-height: 26px;
    
}
#button-icon{
    color: #FFFFFF;
    font-size: 14px;
}

@media screen and (max-width:672px) {
    form{
        
        max-width: 450px;
        
    }
    @media screen and (max-width:468px) {
        form{
            
            max-width: 300px;
            
        }
    }
}