@import "partials/search-input";
@import "partials/header";
.hero{
    width: 100%;
    max-width: 1773px;
    min-height: 820px;
    background-image: url(/images/hero-img.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    &__text-container{
        width: 100%;
        max-width: 372px;
        min-height: 76px;
        padding: 15px;
        margin-bottom: 48px;
    }

.hero__header{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 26px;
    letter-spacing: 4.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 11px;
    
}
.hero__subheader{
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 6.82px;
    color: #FFFFFF;
    margin: 0;
}

.scroll-down-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.scroll-down-text{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 2.8px;
    color: #FFFFFF;
    margin: 0;
}
#arrow-down{
    color: #FFFFFF;
} 
}