.testimorial{
    width: 100%;
    max-width: 1770px;
    min-height: 731px;
    background-image: url(/images/testimorial-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}