@import "hero-section";
@import "choose-section";
@import "how-section";
@import "spain-section";
@import "testimorial";
@import "footer";
@import "main";

body{
   padding: 0;
   box-sizing: border-box;
   width: 100%;
   max-width: 1773px;
   margin: auto;
   font-family: "Josefin Sans", sans-serif;

}
